@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@if(SignInManager.IsSignedIn(User)) {
	<li class="nav-item dropdown">
		<a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			<i class="bi bi-bell-fill mr-2"></i>
			Hello @UserManager.GetUserName(User)!
		</a>
		<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
			<li>
				<a class="dropdown-item" href="#" title="Manage">
					<i class="bi bi-person me-2"></i>Account
				</a>
			</li>
			<li><a class="dropdown-item" href="#"><i class="bi bi-bag me-2"></i>&nbsp;Purchase</a></li>
			<li><a class="dropdown-item" href="#"><i class="bi bi-bag me-2"></i>&nbsp;Order</a></li>
			<li><a class="dropdown-item" href="#"><i class="bi bi-gear me-2"></i>&nbsp;Setting</a></li>
			
			<li><hr class="dropdown-divider"></li>
			<li>
				<a class="nav-link" asp-area="Account" asp-action="Logout" asp-controller="Auth">
					<i class="bi bi-box-arrow-right me-2"></i>Logout
				</a>
			</li>
		</ul>
	</li>
} else {
	<li class="nav-item">
		<a class="nav-link text-dark" id="register" asp-area="Account" asp-controller="Auth" asp-action="Register">Register</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-dark" id="login" asp-area="Account" asp-controller="Auth" asp-action="Login">Login</a>
	</li>
}
