<li class="nav-item">
	<a class="nav-link text-dark" id="register" asp-area="Account" asp-controller="Auth" asp-action="Register">Register</a>
</li>
<li class="nav-item">
	<a class="nav-link text-dark" id="login" asp-area="Account" asp-controller="Auth" asp-action="Login">Login</a>
</li>
