html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

html {
    position: relative;
    min-height: 100%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Dashboard */
table.dataTable th.dt-type-numeric,
table.dataTable td.dt-type-numeric {
    text-align: left;
}

.vertical .main-content,
.vertical.hover {
    min-height: calc(100vh - 69px) !important;
}

.form-control,
.form-select,
.form-check-input {
    background-color: #fff;
}

    .form-control:focus {
        background-color: #fff;
    }

label {
    font-weight: 300 !important;
}

.form-floating > .form-select {
    padding-top: 0;
    padding-bottom: 0;
}

#formLogout,
#formLogout {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #424242;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.search-input {
    border-radius: 20px;
    border: 1px solid #ff6a00;
}

.dropdown-toggle::after {
    display: none;
    content: "";
    font-size: 1rem
}

/* search on admin page */
.searchform:before {
    content: "";
}

/* css text max lines */
.text-custom {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.text-custom-one-line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* custom drop down */
.dropdown-menu[data-bs-popper] {
    left: 50% !important;
    transform: translate(-50%, 0px) !important;
}


table.dataTable th.dt-type-numeric,
table.dataTable th.dt-type-date, 
table.dataTable td.dt-type-numeric, 
table.dataTable td.dt-type-date {
    text-align: left;
}

.vertical .wrapper,
.vertical .wrapper .topnav,
.vertical .wrapper #leftSidebar {
    z-index: 9999999999 !important;
}
