<section class="py-0 bg-primary-gradient" style="margin-top: 75px">
    <div class="container">
        <div class="row justify-content-center g-0">
            <div class="col-xl-9">
                <div class="col-lg-6 text-center mx-auto mb-3 mb-md-5 mt-4">
                    <h5 class="fw-bold text-danger fs-3 fs-lg-5 lh-sm my-6">How does it work</h5>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3 mb-6">
                        <div class="text-center">
                            <img class="shadow-icon"
                                 src="~/images/gallery/location.png"
                                 height="112"
                                 alt="..." />
                            <h5 class="mt-4 fw-bold">Select location</h5>
                            <p class="mb-md-0">
                                Choose the location where your food will be delivered.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-6">
                        <div class="text-center">
                            <img class="shadow-icon"
                                 src="~/images/gallery/order.png"
                                 height="112"
                                 alt="..." />
                            <h5 class="mt-4 fw-bold">Choose order</h5>
                            <p class="mb-md-0">
                                Check over hundreds of menus to pick your favorite food
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-6">
                        <div class="text-center">
                            <img class="shadow-icon"
                                 src="~/images/gallery/pay.png"
                                 height="112"
                                 alt="..." />
                            <h5 class="mt-4 fw-bold">Pay advanced</h5>
                            <p class="mb-md-0">
                                It's quick, safe, and simple. Select several methods of payment
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-6">
                        <div class="text-center">
                            <img class="shadow-icon"
                                 src="~/images/gallery/meals.png"
                                 height="112"
                                 alt="..." />
                            <h5 class="mt-4 fw-bold">Enjoy meals</h5>
                            <p class="mb-md-0">
                                Food is made and delivered directly to your home.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->
</section>

<section>
    <div class="bg-holder"
         style="background-image: url(/images/gallery/cta-one-bg.png);
                background-position: center;
                background-size: cover;"></div>
    <!--/.bg-holder-->

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-10">
                <div class="card card-span shadow-warning" style="border-radius: 35px">
                    <div class="card-body py-5">
                        <div class="row justify-content-evenly">
                            <div class="col-md-3">
                                <div class="d-flex d-md-block d-xl-flex justify-content-evenly justify-content-lg-between">
                                    <img src="~/images/gallery/discounts.png"
                                         width="100"
                                         alt="..." />
                                    <div class="d-flex d-lg-block d-xl-flex flex-center">
                                        <h2 class="fw-bolder text-1000 mb-0 text-gradient">
                                            Daily<br class="d-none d-md-block" />Discounts
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 hr-vertical">
                                <div class="d-flex d-md-block d-xl-flex justify-content-evenly justify-content-lg-between">
                                    <img src="~/images/gallery/live-tracking.png"
                                         width="100"
                                         alt="..." />
                                    <div class="d-flex d-lg-block d-xl-flex flex-center">
                                        <h2 class="fw-bolder text-1000 mb-0 text-gradient">
                                            Live Tracking
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 hr-vertical">
                                <div class="d-flex d-md-block d-xl-flex justify-content-evenly justify-content-lg-between">
                                    <img src="~/images/gallery/quick-delivery.png"
                                         width="100"
                                         alt="..." />
                                    <div class="d-flex d-lg-block d-xl-flex flex-center">
                                        <h2 class="fw-bolder text-1000 mb-0 text-gradient">
                                            Quick Delivery
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row flex-center mt-md-8">
            <div class="col-lg-5 d-none d-lg-block" style="margin-bottom: -122px">
                <img class="w-100" src="~/images/gallery/phone-cta-one.png" alt="..." />
            </div>
            <div class="col-lg-5 mt-7 mt-md-0">
                <h1 class="text-primary">Install the app</h1>
                <p>
                    It's never been easier to order food. Look for the finest
                    <br class="d-none d-xl-block" />discounts and you'll be lost in a world of
                    delectable food.
                </p>
                <a class="pe-2" href="#" target="_blank">
                    <img src="~/images/gallery/app-store.svg" width="160" alt="" />
                 </a>
                 <a href="#" target="_blank">
                    <img src="~/images/gallery/google-play.svg" width="160" alt="" />
                </a>
            </div>
        </div>
    </div>
</section>