<section class="py-0" style="margin-top: 75px">
	<div class="bg-holder"
		 style="background-image: url(/images/gallery/cta-two-bg.png);
            background-position: center;
            background-size: cover;"></div>

	<div class="container">
		<div class="row flex-center">
			<div class="col-xxl-9 py-7 text-center">
				<h1 class="fw-bold mb-4 text-white fs-6">
					Contact Us
				</h1>
			</div>
		</div>
	</div>
</section>

<section class="container">
	<div class="row">
		<div class="col-12">
			<h2 class="fw-light mb-4">Get in Touch</h2>
		</div>
		<div class="col-lg-8">
			<form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<textarea class="form-control w-100 mb-4" name="message" id="message" cols="30" rows="9"
									  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder="Enter Message"></textarea>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<input class="form-control" name="name" id="name" type="text" onfocus="this.placeholder = ''"
								   onblur="this.placeholder = 'Enter your name'" placeholder="Enter your name">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<input class="form-control" name="email" id="email" type="email" onfocus="this.placeholder = ''"
								   onblur="this.placeholder = 'Enter email address'" placeholder="Enter email address">
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<input class="form-control mt-4" name="subject" id="subject" type="text" onfocus="this.placeholder = ''"
								   onblur="this.placeholder = 'Enter Subject'" placeholder="Enter Subject">
						</div>
					</div>
				</div>
				<div class="form-group mt-5">
					<button type="submit" class="btn btn-danger btn_4">
						<i class="bi bi-send-fill me-2"></i>Send Message
					</button>
				</div>
			</form>
		</div>
		<div class="col-lg-4">
			<div class="d-flex gap-3 mb-3">
				<span style="font-size: 27px">
					<i class="bi bi-geo-alt"></i>
				</span>
				<div class="media-body">
					<h5 class="fw-light">
						Buttonwood, California.
					</h5>
					<p>Rosemead, CA 91770</p>
				</div>
			</div>
			<div class="d-flex gap-3 mb-3">
				<span style="font-size: 27px">
					<i class="bi bi-phone"></i>
				</span>
				<div class="media-body">
					<h5 class="fw-light">
						0987654321
					</h5>
					<p>Mon to Fri 9am to 6pm</p>
				</div>
			</div>
			<div class="d-flex gap-3">
				<span style="font-size: 27px">
					<i class="bi bi-envelope"></i>
				</span>
				<div class="media-body">
					<h5 class="fw-light">
						FoodWagon@gmail.com
					</h5>
					<p>Send us your query anytime!</p>
				</div>
			</div>
		</div>
	</div>
</section>
