
<ul class="nav nav-pills flex-column">
	<li class="nav-item">
		<a class="nav-link" id="profile" asp-area="Customer" asp-controller="Profile" asp-action="Index">Profile</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="email" asp-area="Customer" asp-controller="Profile" asp-action="VerifyEmail">Email</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="change-password" asp-area="Customer" asp-controller="Profile" asp-action="ChangePassword">Password</a>
	</li>
</ul>